/*add custom font*/
.work-sans-custom {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

*{
    font-family: Andale Mono, monospace;
}

body{
    --title-green: rgb(28, 71, 33); 
    background-color: #d3dbd5;
    color: gray
}

nav{
    display: none;
}

/*make wetitle stay at top of page */
#webtitle{
    position: sticky;
    top: 20px;
    color: var(--title-green, DarkSeaGreen);
    text-align: left;
}

header{
    display: block;
    height: 20mm;
}

/*various color changes and minor styling*/
#date, #time{
    color: color(srgb-linear 10% 23% 15% / 80%);
}

#time {
    position: relative;
    top: 10px;
    left: 10px;
}

section ol{
    color: gray;
}

h2 ~ ul {
    color: green;
}

.housekeeping{
    display: inline-block;
    margin: 5px;
}

section > h2 {
    color:hsl(117, 12%, 32%);
    
}

p + details {
    color: black;
}

h4 {
    text-decoration: underline;
}

h4:has(+ p) {
    color: black;
}

/*box model*/
div.box {
    background-color: color-mix(in srgb, DarkSeaGreen  40%, black 30%);
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px 15px 15px 15px;
    border-radius: 10px;
    border-style: solid;
    border-color: color-mix(in srgb, DarkSeaGreen  40%, black 31%);
    border-width: 2px;
    max-width: 80em;
}

#formbox {
    background-color: color-mix(in srgb, DarkSeaGreen  10%, white 100%);
    text-align: center;
    margin: 10px 10px 10px 10px;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    border-style: solid;
    border-color: color-mix(in srgb, DarkSeaGreen  40%, black 31%);
    border-width: 2px;
    max-width: 20cm;
    min-width: 5cm;
}

/*flex box*/
#container1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

/*grid*/
#formgrid {
    display: grid;
    grid-template-columns: [first] 1fr [second] 1fr [end];
    grid-template-rows: [firRow] 1fr [secRow] 1fr [thirRow] 1fr [last];
}

.item{
    justify-self: stretch;
    align-self: center;
}

#item-a {
    grid-column-start: first;
    grid-column-end: second;
    grid-row-start: firRow;
    grid-row-end: span 1;
}

#item-b {
    grid-column-start: second;
    grid-column-end: end;
    grid-row-start: firRow;
    grid-row-end: secRow;
}

#item-c {
    grid-column: second / span 1;
    grid-row: thirRow / span 1;
}

/*psuedo classes*/
button{
    background-color: white;

    &:hover {
        background-color: rgb(122, 167, 141);
    }

    &:active{
        background-color: var(--title-green);
        color: white;
    }
}


/*responsiveness*/
video{
    width: 25rem;
}

@media screen and (max-width: 600px) {
    video {
        width: 100vw;
    }
}